<div class="center jumbotron">
  <h1>Welcome to the Safe Trek</h1>

  <h2>
    It's going to be pretty cool, we pomise!
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Log-in", new_user_session_path, class: "btn btn-lg btn-primary" %>
</div>

